#main-img-1{
    padding: 0px;
}

@media (min-width: 992px) {
    #main-img-1{
        width: 38.66689%;
        margin-right: 2.99977667%;
    }
}
#main-img-1 img{
    background-size: contain;
    width: 100%;
}
@media (max-width: 767px) 
    {#main-text-1{
        height: auto;
        padding: 1% 3%;
    }
}
@media (min-width:992px) 
    {#main-text-1{
        min-height: 416px;
    }
}
#main-text-1 p{
    margin-bottom: 5px;
}
@media (max-width: 991px) {
    #main-text-1 p{
        font-size: 10pt;
    }
}
#main-img-2{
    padding: 0px;
    margin-top: 25px;
}
#main-img-2 img{
    background-size: contain;
    width: 100%;
}

#whereweare{
    background-color: #0071BC;
    margin-top: 50px;
    margin-bottom: 20px;
}
#whereweare h3{
    text-align: center;
    font-size: 30px;
    color: #FFF;
    letter-spacing: -1px;
    font-family: roboto, sans-serif;
    margin-top: 10px;
}
@media (max-width: 767px){
#whereweare h3 {
        padding: 7px 0px;
        font-size: 25px;
    }
}
.backfoblock{
    background-color: #F6F4F4;
}
.price-block {
    margin: 2% 0%;
    background-color: #FFF;
    padding: 0%;
}
.price-block h3{
    color: #0071BC;
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -1px;
    font-size: 25px;
}
.price-block p{
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-family: roboto, sans-serif;
    font-weight: 300;
}
@media (max-width: 992px){
    .price-block p {
        font-size: 14px;
            line-height: 120%;
    }
}
@media (max-width: 767px){
    .price-block p {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}
.price-block img{
    width: 338px;
    height: 389px;
}
.price-text {
    background-color: rgba(127, 127, 127, 0.1);
    padding: 2%;
    height: 345px;
}
@media(max-width:767px){
    .price-text{
        height:auto;
    }
}
.price-text-down{
    margin: 2% 0% 3%;
    padding: 0px;
}
.price-text-down p{
    font-size: 24px;
    margin: 0% 3%;
}
@media (max-width: 992px){
    .price-block img{
        width:100%;
        height: auto;
    }
}
.price-text-down strong{
    font-size: 25px;
    line-height: 36px;
    font-family: roboto, sans-serif;
    font-weight: 700;
}
.price-text-down a{
    background-color: #0071BC;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    text-align: center;
    line-height: 35px;
    color: #FFFFFF;
    font-family: roboto, sans-serif;
    font-weight: 700;
    padding: 0% 8px;
    margin-left: 0.5%;
    text-decoration: none;
    float: right;
}
.price-text-down a:hover{
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=60);
}
.price-text-down-money{
    padding:0px;
}
@media (max-width: 992px){
    .price-text-down-money p{
        margin-bottom: 2%;
        font-size: 20px;
    } .price-text-down strong {
        font-size: 21px;
    }
}
@media (max-width: 767px){
    .price-text-down-money p{
        margin-bottom: 2%;
        font-size: 13.5px;
    } .price-text-down strong {
        font-size: 13px;
    } .price-text-down-button{
        padding: 0px;
    }
}
.line {
    border-style: solid;
    border-color: #7F7F7F;
    border-width: 0px 0px 1px;
    margin: 3% 13%;
    opacity: 0.25;
}
@media (max-width:767px){
    .no-padding {
        padding: 0px;
    }
} .feedback {
    background-color: #F6F4F4;
    text-align: center;
} .feedback h2 {
    letter-spacing: 0px;
    line-height: 22px;
    font-family: roboto,sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color: #0071BC;
    letter-spacing: 0px;
    margin-top: 27px;
} .feedblock {
    background-color: #FFFFFF;
    padding-top: 22px;
    width:100%;
    margin: 10px 0px;
} .feedblock p {
    background-color: transparent;
    text-align: center;
    font-size: 24px;
    color: #0071BC;
    font-family: roboto, sans-serif;
    font-weight: 400;
} #date {
    min-height: 27px;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    color: #7F7F7F;
    letter-spacing: 0px;
    line-height: 22px;
    font-family: roboto, sans-serif;
    font-weight: 300;
    left: 1px;
    margin: 0px;
} .nameblock {
    padding-top: 4px;
} .feedtext p{
    min-height: 46px;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0px;
    line-height: 22px;
    font-family: roboto, sans-serif;
    font-weight: 300;
} .feedback a{
    padding: 21px 40px;
    text-decoration: none;
    background-color: #0071BC;
    opacity: 0.8;
    border-radius: 5px;
    letter-spacing: 5px;
    line-height: 64px;
    color: #FFFFFF;
    font-weight: 700;
} .feedtext{
    margin-top: 10px;
}