.background-about {
    width: 100%;
    height: auto !important;
    margin-bottom: 1%;
    background-color: rgba(0, 113, 188, 1);
} .navbar-default {
    background-color: rgba(0, 113, 188, 1);
} .navbar {
    margin-bottom: 0px;
} .image-back {
    max-width: 100%;
    width: 100%;
} .headtext {
    background-color: transparent;
    text-align: center;
    font-size: 35px;
    color: #0071BC;
    letter-spacing: -1px;
    line-height: 36px;
    font-family: roboto, sans-serif;
    margin-top: 10px;
} .about-block {
    background-color: #FFF;
    padding: 0% 2% 2% 1%;
    margin-top: 1%;
} .about-block img{
    width: 100%;
} .backfoblock p {
    color: #000;
    text-indent: 15px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin: 0px;
}  .about-block-p {
    min-height: 36px;
    margin-top: 52px;
} h2 {
    background-color: transparent;
    text-align: center;
    font-size: 25px;
    color: #0071BC;
    letter-spacing: -1px;
    margin-top: 15px;
    margin-bottom: 15px;
} @media(max-width:992px) 
    { .backfoblock p {
        font-size: 15px;
    } .about-block-p {
        margin-top: 10px;
    }
} .downblock img{
    width:100%;
    margin-bottom: 10px;
}

/*для анимации*/
/*
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    -ms-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
*/
/*конец для анимации*/