.contacts-div {
    margin-top: 45px;
    margin-bottom: 20px;
    text-align:  center;
} .contacts-div p {
    min-height: 30px;
    background-color: transparent;
    text-align: center;
    font-size: 22px;
    color: #0071BC;
    letter-spacing: -1px;
    line-height: 26px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    margin-top: 19px;
} .contacts-div img {
    width: 70%;
    margin-top: 10px;
} .contacts-div span {
    min-height: 30px;
    background-color: transparent;
    font-size: 20px;
    color: #000000;
    letter-spacing: -1px;
    line-height: 24px;
    font-family: roboto, sans-serif;
    font-weight: 300;
    margin-top: 13px;
} 

.question-block {
    background-color: #FFFFFF;
    margin-bottom: 10px;
} .question-block p{
    text-align: center;
    font-size: 30px;
    color: #0071BC;
    letter-spacing: -1px;
    line-height: 36px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    margin-top: 10px;
} .contacts-form-div {
    text-align: center;
} .contacts-form-div button{
    background-color: #0071BC;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    border-radius: 5px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 35px;
    color: #FFFFFF;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 10px;
} .contacts-form-div textarea {
    max-width: 100%;
}
.form-group label {
    background-color: transparent;
    text-align: center;
    font-size: 22px;
    color: #0071BC;
    letter-spacing: -1px;
    margin-bottom: 10px;
}