.visa-block {
    background-color: #FFFFFF;
    padding-bottom: 180px;
    margin-left: 20px;
    margin-top: 22px;
} .visa-block p {
    color: #000;
    background-color: transparent;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    font-family: roboto, sans-serif;
    font-weight: 300;
    position: relative;
    padding-top: 151px;
}