@media (max-width: 991px){
    .container {
        width: 100%;
    }
} 
.active{
    text-decoration: underline;
    font-weight: 400 !important;
}
/*для менюшки, чтобы не сползала*/
body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
    background-color: #F6F4F4;
}

.background-div{
    background-image:url('/images/bg-head.jpg');
    height: 300px;
    z-index:3;
    background-size: 100%;
}
@media(max-width: 767px){
    .background-div{
        z-index:3;
        background-size: 200%;
    }
}
.blackout-div{
    height: 300px;
    background-color:rgba(0,0,0,0.4);
    z-index:4;
}
.logo-img {
    width:103px;
    height:43px;
    margin-top:3px;
    margin-left: 10px;
}
.marsp {
    border-radius: 5px;
    margin-top: 11px;
    padding: 11px 13px;
    background-color: rgba(0, 0, 0, 0.4);
} .marsp label{
    text-align: center;
    font-size: 14px;
    color: #FFF;
    letter-spacing: -1px;
    line-height: 32px;
    font-family: roboto, sans-serif;
    margin-top: 4px;
}
.head-text{
    text-align:center;
    font-family:roboto,sans-serif;
    font-weight: 400;
    line-height:48px;
    color:#FFFFFF;
} .head-text h3{
    font-size:40px;
    letter-spacing:2px;
    margin-top:89px;
} .head-text h2{
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;
}
@media (max-width: 767px){
    .head-text h2{
        font-size: 25px;
        margin-bottom: 0px;
    }
}
.head-text p{
    min-height: 88px;
    background-color: transparent;
    text-align: center;
    font-size: 60px;
    letter-spacing: 13px;
    line-height: 72px;    
    font-weight: 400;
} @media (max-width: 767px){
    .head-text p{
        font-size: 30px;
        letter-spacing: 2px;
        z-index: 10;
    }
} .head-text a{
/*    padding: 21px 40px;*/
    text-decoration: none;
    background-color: #0071BC;
    opacity: 0.8;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 64px;
    color: #FFFFFF;
    font-weight: 700;
}
@media (max-width: 767px){
    .head-text a{
        margin-top: 10px;
/*        padding: 10px 20px; */
    }
}
.footer-contacts{
    margin-right: 57px;
    margin-top: 17px;
} .footer-pay img{
    margin-top: 25px;
} .footer-soc{
    margin:22px 0px 0px 4px;
} @media(max-width:767px){
    .footer-contacts{
        margin-right: 0px;
        margin-top: 17px;
    }
    .footer-pay img{
        margin-top: 0px;
    }
    .footer-soc{
        margin:5px;
    }
} .footer-bot{
    z-index: 41;
    min-height: 94px;
    border-style: solid;
    border-color: #0071BC;
    background-color: #1B1B1B;
    border-width:8px 0px 0px;
    margin-top:1%;
} 
video{ 
    position: absolute;
    min-width: 100% !important;
    min-height: 100% !important;
    width: auto;
    height: auto;
    z-index: -100;
    background: url('/images/bg-head-min.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
} @media (max-width: 1024px){video {
    max-width: 100%; 
    height: auto;
    width: 100%;
    background-size:auto;
    background-repeat: no-repeat;
    } .videoback {
        background: url('/images/bg-head-min.jpg') no-repeat center center;
        padding-bottom: 15%;
        background-size: cover;
    } .mainpage {
            margin-top: 0% !important;
    }}
.mainpage{
    margin-top: 15%;
/*    margin-top: 48%;*/
    padding-bottom: 2%;
    z-index: 2;
    background-color: #F6F4F4;
    padding-bottom: 0px;
} 
/*
@media (max-width: 767px){
    .mainpage{
        margin-top: 100%;
    }
}
*/
.main-blocks{
    padding-top: 41px;
} .main-blocks h4{
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    color: #0071BC;
    letter-spacing: -1px;
    line-height: 36px;
    font-family: roboto, sans-serif;
    margin-top: 10px;
}
.content-block{
    box-shadow: 0px 8px 8px rgba(0,0,0,0.25);
    background-color: #FFF;
}
.content-block p{
    text-indent: 15px;
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    position: relative;
    color: #000;
}
@media (max-width: 767px){
    .navbar-default .navbar-collapse{
        text-align: center;
        background-color: rgba(0, 113, 188, 0.7);
        padding: 0px;
        width: 110%;
        position: relative;
        height: auto;
    }
}
.navbar-right{
    border-style: solid;
    border-color: #FFF;
    border-width: 2px;
    margin-top: 3px;
    margin-left: 0px;
} . 
@media (max-width: 767px){
    .navbar-nav>li>a{
        line-height: 20px !important;
        padding: 0px 10px;
    }
}
@media (max-width: 848px){
    .navbar-nav {
        margin-left: 0%;
    }
    .navbar-right{
        margin-left: 0%;
    }
}
@media (max-width:767px){
    .navbar-nav{
        width: 100%;
        margin: 0% 0%;
    } .navbar-nav li>a{
        line-height: 26px !important;
        font-weight: 400 !important;
        letter-spacing: 2px !important;
        font-size: 14px !important;
    }
}

@media (max-width:767px){
    .footer-bot p {
        text-align: center;
    } .footer-pay {
        text-align: center;
    }
}

@media (min-width: 948px) {
    .form-inline .form-control {
        margin-right: 38px;
    } .form-control {
        padding: 6px 7px;
    }
}

.panel-default>.panel-heading {
    background-color: #0071BC;
    color: #FFF;
    cursor: pointer;
}

.panel-default>.panel-heading a {
    text-decoration: none;
}