/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/




body{
	font:15px/1.3 Arial, sans-serif;
	color: #4f4f4f;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside{
	display: block;
}


/*----------------------------
	The Gallery and photos
-----------------------------*/


#loading{
	display:none;
	width:40px;
	height:40px;
	background:url(../img/preloader.gif) no-repeat center center;
	position:fixed;
	top:50%;
	left:50%;
	margin:-20px 0 0 -20px;
}

#gallery{
	position: inherit;
	top:0;
	left:0;
    width:100%;
}

#gallery a{
	opacity:0;
	float:left;
	background-size:cover;
/*	background-position: center center;*/
margin: 1px;
    padding:1px;
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	transform:scale(0.8);

	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	transition:0.4s;
}

#gallery a.static:hover,
#gallery a.show:hover{
	opacity:0.9 !important;
}

#gallery a.static{
	opacity:1;

	-webkit-transform:none;
	-moz-transform:none;
	transform:none;

	-webkit-transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	transition:opacity 0.4s;
}

#gallery a.next,
#gallery a.prev{
	background-color:#333;
	cursor:pointer;
}

#gallery a.next{
	background-image:url('../img/arrow_next.jpg');
}

#gallery a.prev{
	background-image:url('../img/arrow_prev.jpg');
}

#gallery a.show{
	opacity:1;

	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);
}


/*----------------------------
	The Demo Footer
-----------------------------*/


footer{

	width:820px;
	font:normal 16px Arial, Helvetica, sans-serif;
	padding: 20px 35px;
	position:fixed;
	bottom:0;
	left:50%;
	margin-left:-445px;

	background-color:#1f1f1f;

	background-image:-webkit-linear-gradient(top, #1f1f1f, #101010);
	background-image:-moz-linear-gradient(top, #1f1f1f, #101010);
	background-image:linear-gradient(top, #1f1f1f, #101010);

	border-radius:2px 2px 0 0;

	box-shadow: 0 -1px 4px rgba(0,0,0,0.3);
	z-index:1;
}

footer a.tz{
	font-weight:normal;
	font-size:16px !important;
	text-decoration:none !important;
	display:block;
	margin-right: 300px;
	text-overflow:ellipsis;
	white-space: nowrap;
	color:#bfbfbf !important;
	z-index:1;
}

footer a.tz:before{
	content: '';
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 -53px;
	width: 138px;
	height: 20px;
	display: inline-block;
	position: relative;
	bottom: -3px;
}

footer .close{
	position: absolute;
	cursor: pointer;
	width: 8px;
	height: 8px;
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 0px;
	top:10px;
	right:10px;
	z-index: 3;
}

footer #tzine-actions{
	position: absolute;
	top: 12px;
	width: 500px;
	right: 50%;
	margin-right: -650px;
	text-align: right;
	z-index: 2;
}

footer #tzine-actions iframe{
	display: inline-block;
	height: 21px;
	width: 95px;
	position: relative;
	float: left;
	margin-top: 11px;
}